@charset "UTF-8";
/*pages*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
body {
  font-family: "微軟正黑體", "Open Sans", "Noto Sans TC", "PingFang TC", "蘋果儷中黑", "sans-serif";
  letter-spacing: 1.5px;
  /* font-weight: 400; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F7F7;
  counter-reset: page-number;
  /* 初始化，名字可自訂，數值為0 */
  -webkit-print-color-adjust: exact;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: #00a7e5;
}

h2 {
  font-size: 23px;
  font-weight: bold;
  color: #00a7e5;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
}

h4 {
  font-size: 25px;
  font-weight: bold;
  color: #595757;
  line-height: 1.6;
}

p,
label,
tr,
td {
  font-size: 20px;
  color: #595757;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  border-color: white;
}

label {
  padding: 0px 9px 0px 0px;
}

a {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

button {
  background-color: transparent;
  padding: 0px;
  border-width: 0px;
}

select {
  color: #595757;
  background-color: #FCFAF7;
  border-color: #595757;
  padding: 3px 8px;
  border-radius: 5px;
}

.selectbook * {
  border-radius: 15px;
  background-color: #FCFAF7;
  border-color: #00a7e5;
}

option {
  color: #00a7e5;
  background-color: #FCFAF7;
  border-color: #00a7e5;
  border-radius: 10px;
  padding: 3px 8px;
}

input {
  color: #595757;
  background-color: #FCFAF7;
  border: 1px solid #595757;
  padding: 3px 8px;
  font-size: 17px;
  border-radius: 5px;
}

input[type=radio] {
  width: 16px;
  height: 16px;
  display: inline;
  vertical-align: top;
  margin-top: 7px;
}

select:focus,
input[type=text]:focus,
input[type=password]:focus {
  outline: 0;
  border: 1px solid #00a7e5;
  color: #00a7e5;
  box-shadow: 1px 1px 5px #595757;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

img {
  width: 100%;
}

rt {
  transform: translateY(-35%);
}

.cursor {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.white {
  color: #FFF;
}

.blue {
  color: #2783be;
}

.bluebg {
  background-color: #2783be;
}

.redbg {
  background-color: #d4655c;
}

.yellowbg {
  background-color: #e1b538;
}

.greenbg {
  background-color: #3e9979;
}

.purplebg {
  background-color: #675e92;
}

.orange-border {
  border-left: 1px solid #d26512;
  border-right: 1px solid #d26512;
}

.blue-border {
  border: 1px solid #2783be;
}

.red-border {
  border: 1px solid #d4655c;
}

.yellow-border {
  border: 1px solid #e1b538;
}

.personality-border {
  border: 1px solid #fbd9ac;
}

.green-border {
  border: 1px solid #3e9979;
}

.shadow {
  box-shadow: 1px 1px 5px rgba(89, 87, 87, 0.4196078431);
}

.page {
  /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
  /* page-break-after: always;  碰到此元素會直接換頁 */
  page-break-inside: avoid;
  position: relative;
  max-width: 1024px;
  width: 100%;
  /* height: 1448px; */
  margin: 0 auto;
  overflow: hidden;
}
.page::after {
  /* content: counter(page-number); 取用該名字的計數器 */
  /*counter-increment: page-number 1;  增加計數器數值 */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 30px;
  text-align: center;
}

.report-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.report-title .logo {
  position: relative;
  width: 150px;
  margin-left: 30px;
  z-index: 1;
  /*情境測驗 幼教 小教 中教 特教*/
  /*教師人格測驗*/
}
.report-title .logo::before {
  position: absolute;
  content: "";
  width: 240px;
  height: 240px;
  top: 0%;
  left: 0%;
  transform: translate(-30%, -30%);
  background-color: #d26512;
  z-index: -1;
  border-radius: 50%;
}
.report-title .logo::after {
  position: absolute;
  content: "";
  width: 240px;
  height: 240px;
  top: 0%;
  left: 0%;
  transform: translate(-25%, -30%);
  background: #fff468;
  z-index: -2;
  border-radius: 50%;
}
.report-title .logo.small-logo::before {
  background-color: #628332;
}
.report-title .logo.young-logo::before {
  background-color: #0f9b66;
}
.report-title .logo.medium-logo::before {
  background-color: #d26512;
}
.report-title .logo.special-logo::before {
  background-color: #3d5ba3;
}
.report-title .logo.value-logo::before {
  background: #3e9979;
}
.report-title .logo.personality-logo::before {
  background-color: #df7b5a;
}
.report-title .title-content {
  width: 100%;
}
.report-title .title-content .headline {
  padding: 15px 0px;
  text-align: center;
  background-color: #d26512;
  /*情境測驗 幼教 小教 中教 特教*/
  /*教師人格測驗*/
  /*教師人格測驗*/
}
.report-title .title-content .headline h3 {
  margin-left: 35px;
}
.report-title .title-content .headline h3 img {
  width: 35px;
}
.report-title .title-content .headline.smallbg {
  background-color: #628332;
}
.report-title .title-content .headline.youngbg {
  background-color: #0f9b66;
}
.report-title .title-content .headline.mediumbg {
  background-color: #d26512;
}
.report-title .title-content .headline.specialbg {
  background-color: #3d5ba3;
}
.report-title .title-content .headline.valuebg {
  background-color: #d0e8d7;
}
.report-title .title-content .headline.personalitybg {
  background-color: #fbd9ac;
}
.report-title .title-content .headline.value h3 {
  color: #595757;
}
.report-title .title-content .subtitle {
  padding: 10px 0px;
  text-align: center;
  background: #fff468;
  position: relative;
}
.report-title .title-content .subtitle::before {
  position: absolute;
  content: "";
  background-image: url(../image/board-eraser.png);
  width: 60px;
  height: 100%;
  left: 15%;
  top: -50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.material {
  width: calc(100% - 200px);
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}
.material .material-text {
  width: 50%;
}
.material .material-text .school,
.material .material-text .date,
.material .material-text .people,
.material .material-text .filter {
  padding: 8px 0px;
  border-bottom: 1px dotted #595757;
}
.material .material-text .school p,
.material .material-text .date p,
.material .material-text .people p,
.material .material-text .filter p {
  display: flex;
}
.material .material-text .school p span:nth-child(1),
.material .material-text .date p span:nth-child(1),
.material .material-text .people p span:nth-child(1),
.material .material-text .filter p span:nth-child(1) {
  width: 110px;
}
.material .material-text .school p span:nth-child(2),
.material .material-text .date p span:nth-child(2),
.material .material-text .people p span:nth-child(2),
.material .material-text .filter p span:nth-child(2) {
  width: calc(100% - 115px);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.material .threepeople {
  background-color: #fff;
  width: 40%;
  position: relative;
  padding: 10px;
  border-radius: 10px;
}
.material .threepeople img {
  width: 40%;
  margin: -15% auto 15px;
  display: block;
}
.material .threepeople p {
  color: #004795;
}
.material.value {
  justify-content: flex-start;
}
.material.value .material-text {
  width: 100%;
}

.test-content {
  width: 60%;
  z-index: 2;
  height: calc(100% - 417px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.test-content h3 {
  font-size: 42px;
  border-bottom: 5px solid #f7ae00;
  margin: 10px auto;
}

.item .item-title {
  display: flex;
  align-items: flex-end;
  margin-left: 2.5%;
}
.item .item-title .number-mark {
  width: 10%;
  line-height: 0;
}
.item .item-title .first-text {
  width: 100%;
  padding: 10px;
}
.item .main {
  width: 90%;
  margin: 0 auto;
}
.item .main .data-page-scroll {
  padding: 10px 20px;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(89, 87, 87, 0.4784313725);
  background-color: #efefef;
}
.item .main .data-page-scroll .chart-control {
  min-width: 768px;
}
.item .main.three-chart .data-page-scroll {
  margin: 28px auto;
  padding: 5px 20px;
}
.item .main .text-area {
  margin: 40px auto;
}
.item .main .text-area .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item .main .text-area .title img {
  width: 7%;
  margin-right: 20px;
}
.item .main .text-area .text-content {
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(89, 87, 87, 0.4784313725);
  background-color: #efefef;
}
.item .main .text-area .text-content p {
  text-align: justify;
  /*　Firefox到此即可對齊　*/
  text-justify: auto;
  /*　IE需再加上此行　*/
  text-justify: inter-word;
}
.item .main .compare-classification {
  margin: 20px auto;
}
.item .main .compare-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0px auto 20px;
}
.item .main .compare-area .left-block,
.item .main .compare-area .right-block {
  width: 47.5%;
}
.item .main .compare-area .left-block .compare-title,
.item .main .compare-area .right-block .compare-title {
  border-radius: 15px;
  padding: 5px 10px;
}
.item .main .compare-area .left-block .compare-content,
.item .main .compare-area .right-block .compare-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 15px auto;
}
.item .main .compare-area .sort {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}
.item .main .compare-area .compare-value p {
  border-radius: 15px;
  padding: 5px 10px;
  margin-top: 10px;
}
.item .main .compare-area .one-value {
  width: 100%;
}

.bottom-text {
  position: relative;
  bottom: 0px;
  left: 0px;
  background-color: #d26512;
  padding: 10px;
  width: 100%;
  /*情境測驗 幼教 小教 中教 特教*/
  /*教師人格測驗*/
}
.bottom-text p {
  color: white;
  text-align: center;
}
.bottom-text.smallbg {
  background-color: #628332;
}
.bottom-text.youngbg {
  background-color: #0f9b66;
}
.bottom-text.mediumbg {
  background-color: #d26512;
}
.bottom-text.specialbg {
  background-color: #3d5ba3;
}
.bottom-text.valuebg {
  background-color: #3e9979;
}
.bottom-text.personalitybg {
  background-color: #df7b5a;
}

/* values開始 */
.green {
  color: #3e9979;
}

.school-text {
  color: #c73a3a;
}

.national-text {
  color: #043789;
}

/*情境測驗 幼教 小教 中教 特教*/
.small-border {
  border: 1px solid #628332;
}

.young-border {
  border: 1px solid #0f9b66;
}

.medium-border {
  border: 1px solid #d26512;
}

.special-border {
  border: 1px solid #3d5ba3;
}

.stay-left {
  justify-content: flex-start;
}

/*教師人格測驗*/
.pinkorange {
  color: #df7b5a;
}

@media screen and (max-width: 1024px) {
  p {
    font-size: 18px;
  }
  .material {
    flex-direction: column;
    align-items: end;
    width: 88%;
  }
  .material .material-text {
    order: 2;
    width: 100%;
    margin: 15px 25px 0px auto;
  }
  .material .material-text .school p span:nth-child(1),
  .material .material-text .date p span:nth-child(1),
  .material .material-text .people p span:nth-child(1),
  .material .material-text .filter p span:nth-child(1) {
    width: 100px;
  }
  .material .material-text .school p span:nth-child(2),
  .material .material-text .date p span:nth-child(2),
  .material .material-text .people p span:nth-child(2),
  .material .material-text .filter p span:nth-child(2) {
    width: calc(100% - 105px);
  }
  .material .threepeople {
    margin: 30px 25px 0px 0px;
  }
  .item .main .data-page-scroll {
    overflow-x: scroll;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  p,
  label,
  tr,
  td {
    font-size: 17px;
    color: #595757;
  }
  .report-title .logo {
    width: 120px;
  }
  .report-title .logo::before {
    width: 180px;
    height: 180px;
  }
  .report-title .logo::after {
    width: 180px;
    height: 180px;
  }
  .report-title .title-content .headline {
    padding: 10px 0px;
  }
  .report-title .title-content .headline h3 {
    margin-left: 25px;
  }
  .report-title .title-content .headline h3 img {
    width: 25px;
  }
  .report-title .title-content .subtitle {
    padding: 5px 0px;
  }
  .material .material-text .school p span:nth-child(1),
  .material .material-text .date p span:nth-child(1),
  .material .material-text .people p span:nth-child(1),
  .material .material-text .filter p span:nth-child(1) {
    width: 95px;
  }
  .material .material-text .school p span:nth-child(2),
  .material .material-text .date p span:nth-child(2),
  .material .material-text .people p span:nth-child(2),
  .material .material-text .filter p span:nth-child(2) {
    width: calc(100% - 100px);
  }
  .material .threepeople {
    width: 55%;
  }
  .item .item-title {
    margin-top: 30px;
  }
  .item .item-title .number-mark {
    width: 15%;
  }
  .item .main .data-page-scroll {
    overflow-x: scroll;
  }
  /* values開始 */
  .compare-area .left-block,
  .compare-area .right-block {
    width: 100%;
    margin: 10px auto;
  }
  .compare-area .left-block .compare-content div,
  .compare-area .right-block .compare-content div {
    width: 100%;
  }
  .compare-area .left-block .compare-content .two div,
  .compare-area .right-block .compare-content .two div {
    width: 45%;
  }
  .compare-area .left-block .compare-content .three div,
  .compare-area .right-block .compare-content .three div {
    width: 30%;
  }
  .compare-area .sort {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 15px;
  }
  p,
  label,
  tr,
  td {
    font-size: 13px;
    color: #595757;
  }
  .report-title .logo {
    width: 90px;
    margin-left: 10px;
  }
  .report-title .logo::before {
    width: 125px;
    height: 125px;
  }
  .report-title .logo::after {
    width: 125px;
    height: 125px;
  }
  .report-title .title-content .headline {
    padding: 5px 0;
  }
  .report-title .title-content .headline h3 {
    margin-left: 15px;
  }
  .report-title .title-content .headline h3 img {
    display: none;
  }
  .material {
    margin: 0 auto;
    width: 90%;
  }
  .material .material-text {
    margin: 15px auto 0px;
  }
  .material .material-text .school p span:nth-child(1),
  .material .material-text .date p span:nth-child(1),
  .material .material-text .people p span:nth-child(1),
  .material .material-text .filter p span:nth-child(1) {
    width: 75px;
  }
  .material .material-text .school p span:nth-child(2),
  .material .material-text .date p span:nth-child(2),
  .material .material-text .people p span:nth-child(2),
  .material .material-text .filter p span:nth-child(2) {
    width: calc(100% - 80px);
  }
  .material .threepeople {
    width: 100%;
    margin: 30px auto 0px;
  }
  .item .item-title .number-mark {
    width: 12%;
  }
}
@page {
  /*size: portrait;  直向 */
  /*size: landscape;  橫向 */
  /*size: A4;  紙張大小 */
  size: A4 portrait;
  /* 混合使用 */
  min-height: 100vh;
  margin: 0;
  /* 邊界與內容的距離 */
}
@media print {
  body {
    background-color: #F7F7F7;
    counter-reset: page-number;
    /* 初始化，名字可自訂，數值為0 */
    -webkit-print-color-adjust: exact;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    color: #00a7e5;
  }
  h2 {
    font-size: 23px;
    font-weight: bold;
    color: #00a7e5;
  }
  h3 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
  }
  h4 {
    font-size: 25px;
    font-weight: bold;
    color: #595757;
    line-height: 1.6;
  }
  p,
  label,
  tr,
  td {
    font-size: 20px;
    color: #595757;
    line-height: 1.5;
  }
  table {
    border-collapse: collapse;
    border-color: white;
  }
  label {
    padding: 0px 9px 0px 0px;
  }
  a {
    font-size: 17px;
    color: #fff;
    text-decoration: none;
  }
  img {
    width: 100%;
  }
  .bold {
    font-weight: bold;
  }
  .center {
    text-align: center;
  }
  .white {
    color: #FFF;
  }
  .blue {
    color: #2783be;
  }
  .bluebg {
    background-color: #2783be;
  }
  .redbg {
    background-color: #d4655c;
  }
  .yellowbg {
    background-color: #e1b538;
  }
  .greenbg {
    background-color: #3e9979;
  }
  .purplebg {
    background-color: #675e92;
  }
  .orange-border {
    border: 1px solid #d26512;
  }
  .blue-border {
    border: 1px solid #2783be;
  }
  .red-border {
    border: 1px solid #d4655c;
  }
  .yellow-border {
    border: 1px solid #e1b538;
  }
  .personality-border {
    border: 1px solid #fbd9ac;
  }
  .green-border {
    border: 1px solid #3e9979;
  }
  .shadow {
    box-shadow: 1px 1px 5px rgba(89, 87, 87, 0.4196078431);
  }
  section {
    width: 100vw;
    height: 100vh;
    page-break-after: always;
  }
  .page {
    /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
    /* page-break-after: always;  碰到此元素會直接換頁 */
    page-break-inside: avoid;
    position: relative;
    max-width: 1024px;
    width: 100%;
    height: 1448px;
    margin: 0 auto;
    overflow: hidden;
  }
  .page::after {
    /* content: counter(page-number); 取用該名字的計數器 */
    /*counter-increment: page-number 1;  增加計數器數值 */
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 30px;
    text-align: center;
  }
  .report-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .report-title .logo {
    position: relative;
    width: 150px;
    margin-left: 30px;
    z-index: 1;
    /*情境測驗 幼教 小教 中教 特教*/
    /*教師人格測驗*/
  }
  .report-title .logo::before {
    position: absolute;
    content: "";
    width: 240px;
    height: 240px;
    top: 0%;
    left: 0%;
    transform: translate(-30%, -30%);
    background-color: #d26512;
    z-index: -1;
    border-radius: 50%;
  }
  .report-title .logo::after {
    position: absolute;
    content: "";
    width: 240px;
    height: 240px;
    top: 0%;
    left: 0%;
    transform: translate(-25%, -30%);
    background: #fff468;
    z-index: -2;
    border-radius: 50%;
  }
  .report-title .logo.small-logo::before {
    background-color: #628332;
  }
  .report-title .logo.young-logo::before {
    background-color: #0f9b66;
  }
  .report-title .logo.medium-logo::before {
    background-color: #d26512;
  }
  .report-title .logo.special-logo::before {
    background-color: #3d5ba3;
  }
  .report-title .logo.value-logo::before {
    background: #3e9979;
  }
  .report-title .logo.personality-logo::before {
    background-color: #df7b5a;
  }
  .report-title .title-content {
    width: 100%;
  }
  .report-title .title-content .headline {
    padding: 15px 0px;
    text-align: center;
    background-color: #d26512;
    /*情境測驗 幼教 小教 中教 特教*/
    /*教師人格測驗*/
    /*教師人格測驗*/
  }
  .report-title .title-content .headline h3 {
    margin-left: 35px;
  }
  .report-title .title-content .headline h3 img {
    width: 35px;
  }
  .report-title .title-content .headline.smallbg {
    background-color: #628332;
  }
  .report-title .title-content .headline.youngbg {
    background-color: #0f9b66;
  }
  .report-title .title-content .headline.mediumbg {
    background-color: #d26512;
  }
  .report-title .title-content .headline.specialbg {
    background-color: #3d5ba3;
  }
  .report-title .title-content .headline.valuebg {
    background-color: #d0e8d7;
  }
  .report-title .title-content .headline.personalitybg {
    background-color: #fbd9ac;
  }
  .report-title .title-content .headline.value h3 {
    color: #595757;
  }
  .report-title .title-content .subtitle {
    padding: 10px 0px;
    text-align: center;
    background: #fff468;
    position: relative;
  }
  .report-title .title-content .subtitle::before {
    position: absolute;
    content: "";
    background-image: url(../image/board-eraser.png);
    width: 60px;
    height: 100%;
    left: 15%;
    top: -50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .material {
    width: calc(100% - 200px);
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
  }
  .material .material-text {
    width: 50%;
  }
  .material .material-text .school,
  .material .material-text .date,
  .material .material-text .people,
  .material .material-text .filter {
    padding: 8px 0px;
    border-bottom: 1px dotted #595757;
  }
  .material .material-text .school p,
  .material .material-text .date p,
  .material .material-text .people p,
  .material .material-text .filter p {
    display: flex;
  }
  .material .material-text .school p span:nth-child(1),
  .material .material-text .date p span:nth-child(1),
  .material .material-text .people p span:nth-child(1),
  .material .material-text .filter p span:nth-child(1) {
    width: 110px;
  }
  .material .material-text .school p span:nth-child(2),
  .material .material-text .date p span:nth-child(2),
  .material .material-text .people p span:nth-child(2),
  .material .material-text .filter p span:nth-child(2) {
    width: calc(100% - 115px);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .material .threepeople {
    background-color: #fff;
    width: 40%;
    position: relative;
    padding: 10px;
    border-radius: 10px;
  }
  .material .threepeople img {
    width: 40%;
    margin: -15% auto 15px;
    display: block;
  }
  .material .threepeople p {
    color: #004795;
  }
  .material.value {
    justify-content: flex-start;
  }
  .material.value .material-text {
    width: 100%;
  }
  .test-content {
    width: 60%;
    z-index: 2;
    height: calc(100% - 417px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .test-content h3 {
    font-size: 42px;
    border-bottom: 5px solid #f7ae00;
    margin: 10px auto;
  }
  .item .item-title {
    display: flex;
    align-items: flex-end;
    margin-left: 2.5%;
  }
  .item .item-title .number-mark {
    width: 10%;
    line-height: 0;
  }
  .item .item-title .first-text {
    width: 100%;
    padding: 10px;
  }
  .item .main {
    width: 90%;
    margin: 0 auto;
  }
  .item .main .data-page-scroll {
    padding: 10px 20px;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(89, 87, 87, 0.4784313725);
    background-color: #efefef;
  }
  .item .main .data-page-scroll .chart-control {
    min-width: 768px;
  }
  .item .main.three-chart .data-page-scroll {
    margin: 28px auto;
    padding: 5px 20px;
  }
  .item .main .text-area {
    margin: 40px auto;
  }
  .item .main .text-area .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item .main .text-area .title img {
    width: 7%;
    margin-right: 20px;
  }
  .item .main .text-area .text-content {
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(89, 87, 87, 0.4784313725);
    background-color: #efefef;
  }
  .item .main .text-area .text-content p {
    text-align: justify;
    /*　Firefox到此即可對齊　*/
    text-justify: auto;
    /*　IE需再加上此行　*/
    text-justify: inter-word;
  }
  .item .main .compare-classification {
    margin: 20px auto;
  }
  .item .main .compare-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0px auto 20px;
  }
  .item .main .compare-area .left-block,
  .item .main .compare-area .right-block {
    width: 47.5%;
  }
  .item .main .compare-area .left-block .compare-title,
  .item .main .compare-area .right-block .compare-title {
    border-radius: 15px;
    padding: 5px 10px;
  }
  .item .main .compare-area .left-block .compare-content,
  .item .main .compare-area .right-block .compare-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin: 15px auto;
  }
  .item .main .compare-area .sort {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
  }
  .item .main .compare-area .compare-value p {
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 10px;
  }
  .item .main .compare-area .one-value {
    width: 100%;
  }
  .bottom-text {
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: #d26512;
    padding: 10px;
    width: 100%;
    /*情境測驗 幼教 小教 中教 特教*/
    /*教師人格測驗*/
  }
  .bottom-text p {
    color: white;
    text-align: center;
  }
  .bottom-text.smallbg {
    background-color: #628332;
  }
  .bottom-text.youngbg {
    background-color: #0f9b66;
  }
  .bottom-text.mediumbg {
    background-color: #d26512;
  }
  .bottom-text.specialbg {
    background-color: #3d5ba3;
  }
  .bottom-text.valuebg {
    background-color: #3e9979;
  }
  .bottom-text.personalitybg {
    background-color: #df7b5a;
  }
  /* values開始 */
  .green {
    color: #3e9979;
  }
  .school-text {
    color: #c73a3a;
  }
  .national-text {
    color: #043789;
  }
  /*情境測驗 幼教 小教 中教 特教*/
  .small-border {
    border: 1px solid #628332;
  }
  .young-border {
    border: 1px solid #0f9b66;
  }
  .medium-border {
    border: 1px solid #d26512;
  }
  .special-border {
    border: 1px solid #3d5ba3;
  }
  .stay-left {
    justify-content: flex-start;
  }
  /*教師人格測驗*/
  .pinkorange {
    color: #df7b5a;
  }
}/*# sourceMappingURL=report.css.map */