.page {
    /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
    /* page-break-after: always;  碰到此元素會直接換頁 */
    page-break-inside: avoid;
    position: relative;
    max-width: 1024px;
    height: 1448px;
    width: 100%;
    /* height: 1448px; */
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid $main_color_grey;
    background-color: $body_bg;

    &::after {
        /* content: counter(page-number); 取用該名字的計數器 */
        /*counter-increment: page-number 1;  增加計數器數值 */
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 30px;
        text-align: center;
    }

    .page_header {
        .page_decorate {
            width: 100%;
            height: 12px;
            background: linear-gradient(135deg, $main_color_green 33%, $main_color_blue 33%, $main_color_blue 66%, $main_color 66%);
            margin: 0 auto 30px;
        }
    }

    .page_content {
        padding: 0 2.5%;

        .bold{
            font-weight: bold;
        }

        // page1
        .report_title_area {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            margin: 0 auto 40px;
            padding: 0 0 30px;

            .logo {
                width: 70px;
            }

            .report-title {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0%);

                h1 {
                    color: $white;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: calc(100% + 180px);
                    height: calc(100% + 15px);
                    border: 2px solid $main_color;
                    background-color: $main_color;
                    border-radius: 50px;
                    z-index: -1;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(calc(-50% + 15px), calc(-50% + 10px));
                    width: calc(100% + 180px);
                    height: calc(100% + 15px);
                    border: 2px solid $main_color;
                    border-radius: 50px;
                    z-index: -2;
                }
            }

            &::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                width: 90px;
                height: 75px;
                transform: translate(0, 0%);
                background-image: radial-gradient($main_color_80 30%, transparent 30%);
                background-position: 0 0, 5px 0px;
                background-size: 15px 15px;
            }
        }

        .page_caption {
            width: 80%;
            margin: 0 auto;

            .page_caption_text {
                p {
                    color: $main_color_grey;
                    line-height: 2.5;

                    span {
                        font-size: 14px;
                    }
                }
            }

            .page_caption_img {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin: 150px auto 20px;

                .page_caption_img_left {
                    display: flex;
                    flex-direction: column;
                    width: 50%;

                    .page_caption_triangle {
                        position: relative;
                        width: 100%;

                        .page_caption_svg {
                            width: 100%;

                            svg {

                                polygon,
                                path {
                                    fill: transparent;
                                    stroke: $main_color_grey;
                                    stroke-width: 1px;
                                }
                            }
                        }

                        .page_caption_item {
                            display: flex;
                            justify-content: center;
                            width: 50%;
                            position: absolute;

                            .page_caption_item_img {
                                width: 80%;
                                padding: 10px;
                                border-radius: 50%;
                            }

                            .page_caption_item_text {
                                margin: 15px auto;
                            }

                            &.page_caption_item_one {
                                top: 0;
                                left: 50%;
                                transform: translate(-50%, -50%);

                                .page_caption_item_text {
                                    color: $main_color_blue;
                                }
                            }

                            &.page_caption_item_two {
                                bottom: 0;
                                left: 0%;
                                transform: translate(-50%, 50%);

                                .page_caption_item_text {
                                    color: $main_color_green;
                                }
                            }

                            &.page_caption_item_three {
                                bottom: 0;
                                right: 0%;
                                transform: translate(50%, 50%);

                                .page_caption_item_text {
                                    color: $main_color_orange;
                                }
                            }
                        }
                    }

                    .page_caption_left_text {
                        margin: 40px auto 0;

                        .page_caption_item_text_color {
                            width: 20px;
                            height: 20px;
                            margin: 0 15px 0 0;
                            border-radius: 50%;
                        }

                        .page_caption_left_text_item {
                            display: flex;
                            align-items: center;
                            margin: 10px auto;

                            &.page_caption_left_text_one {
                                .page_caption_item_text_color {
                                    background-color: $main_color_blue;
                                }
                            }

                            &.page_caption_left_text_two {
                                .page_caption_item_text_color {
                                    background-color: $main_color_green;
                                }
                            }

                            &.page_caption_left_text_three {
                                .page_caption_item_text_color {
                                    background-color: $main_color_orange;
                                }
                            }
                        }
                    }
                }

                .page_caption_img_right {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;
                    width: 48%;

                    .page_caption_item_img {
                        width: 80%;
                    }

                    .page_caption_item_text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translate(0, calc(-100% - 20px));
                        background-color: $white;
                        border: 1px solid $main_color;
                        border-radius: 10px;
                        padding: 10px 20px;

                        &::before {
                            content: "";
                            position: absolute;
                            border-width: 0px 10px 10px 10px;
                            top: 100%;
                            left: 50%;
                            transform: translate(-100%, 0%);
                            border-left: 10px solid transparent;
                            border-bottom: 10px solid transparent;
                            border-top: 10px solid $main_color;
                            border-right: 10px solid transparent;
                        }
                    }
                }
            }
        }

        // page1

        // page2
        .pagination_tittle {
            position: relative;
            margin: 0 0 20px;

            h4 {
                color: $main_color;
            }

            &::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                width: 90px;
                height: 30px;
                transform: translate(0, 0%);
                background-image: radial-gradient($main_color_80 30%, transparent 30%);
                background-position: 0 0, 10px 0px;
                background-size: 15px 15px;
            }
        }

        .caption_table {
            .table {
                border: 1.5px solid $main_color;

                thead {
                    tr {
                        th {
                            color: $white;
                            background-color: $main_color;
                            padding: 12px 10px;
                            text-align: center;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            width: 20%;
                            border-bottom: 1.5px solid $main_color;
                            border-right: 1.5px solid $main_color;
                            padding: 8px 15px;
                            vertical-align: middle;

                            &.group_projects {
                                background-color: $table_color_one;
                            }

                            &.group_one {
                                background-color: $table_color_two_60;
                            }

                            &.group_two {
                                background-color: $table_color_three_60;
                            }

                            &.group_three {
                                background-color: $table_color_four_60;
                            }

                            &.group_four {
                                background-color: $table_color_five_60;
                            }
                        }
                    }
                }
            }

            &.caption_table_two {
                tr {

                    
                }
            }
        }

        // page2

        // page3
        .chart_information {
            display: flex;
            justify-content: center;
            margin: 0 auto 20px;

            .chart_information_text {
                margin: 0 20px;
            }

            .chart_information_value {
                color: $main_color;
                border-bottom: 1px solid $main_color;
                font-weight: bold;
            }

            &.chart_area_information{
                flex-direction: column;
                margin: 40px auto;
                
                .chart_information_text {
                    margin: 5px 0;
                }
            }
        }

        .caption_table {
            &.chart_table {
                .table {
                    thead {
                        tr {
                            th {
                                color: $main_color_grey;
                                border-bottom: 1.5px solid $main_color;
                                border-right: 1.5px solid $main_color;

                                &.group_projects {
                                    background-color: $table_color_one;
                                }
    
                                &.group_one {
                                    background-color: $table_color_two_60;
                                }
    
                                &.group_two {
                                    background-color: $table_color_three_60;
                                }
    
                                &.group_three {
                                    background-color: $table_color_four_60;
                                }
    
                                &.group_four {
                                    background-color: $table_color_five_60;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                text-align: center;
                                background-color: $white;
                                border-bottom: 1.5px solid $main_color;
                                border-right: 1.5px solid $main_color;
                                width: calc(100% / 6);

                                    &.highest {
                                        background-color: $main_color;
                                        border-bottom: 1.5px solid $white;
                                        border-right: 1.5px solid $white;
                                    }

                            }

                            &.percentage{
                                td{
                                    &.highest {
                                        border-bottom: 1.5px solid $main_color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .chart_area {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 20px auto;

            .chart_area_tittle{
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 20px auto;
                h5{
                    color: $main_color_grey;
                }
            }

            .chart_canvas {
                width: 77%;
                margin: 0 3% 0 0;
                display: flex;
                justify-content: center;
                canvas{
                    max-width: 600px;
                    max-height: 600px;
                }
            }

            .chart_category_area {
                width: 20%;

                .chart_category {
                    display: flex;
                    align-items: center;
                    justify-self: center;
                    margin: 10px 0;
                    padding: 8px;

                    .chart_category_color {
                        width: 20px;
                        height: 20px;
                        margin: 0 5px 0 0;
                        border-radius: 50%;
                        border: 1px solid $white;
                    }

                    &.highest{
                        background-color: $main_color;
                        border-radius: 10px;
                    }

                    &.chart_category_one {
                        .chart_category_color {
                            background-color: $table_color_two;
                        }
                    }

                    &.chart_category_two {
                        .chart_category_color {
                            background-color: $table_color_three;
                        }
                    }

                    &.chart_category_three {
                        .chart_category_color {
                            background-color: $table_color_four;
                        }
                    }

                    &.chart_category_four {
                        .chart_category_color {
                            background-color: $table_color_five;
                        }
                    }
                }
            }

            
        }
        // page3

        // page4
        .caption_table {
            &.chart_table_list {

                .list_caption{
                    margin: 0 auto 20px;
                }
                .table {
                    thead {
                        tr {
                            th {
                                color: $main_color_grey;
                                border-bottom: 1.5px solid $main_color;
                                border-right: 1.5px solid $main_color;
                                background-color: $table_color_one;

                                .chart_information{
                                    margin: 0 auto;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            td{
                                text-align: center;
                                border-right: 1.5px solid $main_color;
                                border-bottom: 1.5px solid $main_color;
                                
                                &.table_id,
                                &.table_name,
                                &.table_degree{
                                    width: 70px;
                                }

                                &.table_department,
                                &.table_grade{
                                    width: 120px;
                                }

                                &.group_item{
                                    width: calc((100% - 450px) / 4);
                                    background-color: $white;

                                    &.highest{
                                        font-weight: bold;

                                        &.group_one{
                                            background-color: $table_color_two_60;
                                        }

                                        &.group_two{
                                            background-color: $table_color_three_60;
                                        }

                                        &.group_three{
                                            background-color: $table_color_four_60;
                                        }

                                        &.group_four{
                                            background-color: $table_color_five_60;
                                        }
                                    }

                                    
                                }
                            }
                        }
                    }
                }
            }
        }
        // page4
    }

    .page_footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        .pagination {
            position: absolute;
            display: flex;
            justify-content: center;
            width: 90%;
            margin: 0 auto;
            bottom: 40px;
            left: 50%;
            transform: translate(-50%, 0);

            .copyright_text {
                padding: 0 50px;
                background-color: $body_bg;

                p {
                    font-size: 16px;
                    color: $main_color_grey;
                }
            }

            .page_number {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
                z-index: 1;


                p {
                    color: $main_color_grey;
                    font-size: 16px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: calc(100% + 40px);
                    height: calc(100% + 10px);
                    border: 1px solid $main_color_grey;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50px;
                    z-index: -1;
                    background-color: $body_bg;
                }
            }

            &::after {
                content: "";
                position: absolute;
                width: calc(100% - 100px);
                height: 1px;
                background-color: $main_color_grey;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                z-index: -1;
            }
        }

        .page_decorate {
            width: 100%;
            height: 12px;
            background: linear-gradient(45deg, $main_color_green 33%, $main_color_blue 33%, $main_color_blue 66%, $main_color 66%);
            margin: 0 auto;
        }
    }

}


@page {
    /*size: portrait;  直向 */
    /*size: landscape;  橫向 */
    /*size: A4;  紙張大小 */
    size: A4 portrait;
    /* 混合使用 */
    min-height: 100vh;
    margin: 0;
    /* 邊界與內容的距離 */
}

@media print {
    .page {
        /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
        /* page-break-after: always;  碰到此元素會直接換頁 */
        page-break-inside: avoid;
        position: relative;
        max-width: 1024px;
        height: 1448px;
        width: 100%;
        /* height: 1448px; */
        margin: 0 auto;
        overflow: hidden;
        border: 1px solid $main_color_grey;
        background-color: $body_bg;
    
        &::after {
            /* content: counter(page-number); 取用該名字的計數器 */
            /*counter-increment: page-number 1;  增加計數器數值 */
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 30px;
            text-align: center;
        }
    
        .page_header {
            .page_decorate {
                width: 100%;
                height: 12px;
                background: linear-gradient(135deg, $main_color_green 33%, $main_color_blue 33%, $main_color_blue 66%, $main_color 66%);
                margin: 0 auto 30px;
            }
        }
    
        .page_content {
            padding: 0 2.5%;
    
            .bold{
                font-weight: bold;
            }
    
            // page1
            .report_title_area {
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                margin: 0 auto 40px;
                padding: 0 0 30px;
    
                .logo {
                    width: 70px;
                }
    
                .report-title {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0%);
    
                    h1 {
                        color: $white;
                    }
    
                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: calc(100% + 180px);
                        height: calc(100% + 15px);
                        border: 2px solid $main_color;
                        background-color: $main_color;
                        border-radius: 50px;
                        z-index: -1;
                    }
    
                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(calc(-50% + 15px), calc(-50% + 10px));
                        width: calc(100% + 180px);
                        height: calc(100% + 15px);
                        border: 2px solid $main_color;
                        border-radius: 50px;
                        z-index: -2;
                    }
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 90px;
                    height: 75px;
                    transform: translate(0, 0%);
                    background-image: radial-gradient($main_color_80 30%, transparent 30%);
                    background-position: 0 0, 5px 0px;
                    background-size: 15px 15px;
                }
            }
    
            .page_caption {
                width: 80%;
                margin: 0 auto;
    
                .page_caption_text {
                    p {
                        color: $main_color_grey;
                        line-height: 2.5;
    
                        span {
                            font-size: 14px;
                        }
                    }
                }
    
                .page_caption_img {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin: 150px auto 20px;
    
                    .page_caption_img_left {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
    
                        .page_caption_triangle {
                            position: relative;
                            width: 100%;
    
                            .page_caption_svg {
                                width: 100%;
    
                                svg {
    
                                    polygon,
                                    path {
                                        fill: transparent;
                                        stroke: $main_color_grey;
                                        stroke-width: 1px;
                                    }
                                }
                            }
    
                            .page_caption_item {
                                display: flex;
                                justify-content: center;
                                width: 50%;
                                position: absolute;
    
                                .page_caption_item_img {
                                    width: 80%;
                                    padding: 10px;
                                    border-radius: 50%;
                                }
    
                                .page_caption_item_text {
                                    margin: 15px auto;
                                }
    
                                &.page_caption_item_one {
                                    top: 0;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
    
                                    .page_caption_item_text {
                                        color: $main_color_blue;
                                    }
                                }
    
                                &.page_caption_item_two {
                                    bottom: 0;
                                    left: 0%;
                                    transform: translate(-50%, 50%);
    
                                    .page_caption_item_text {
                                        color: $main_color_green;
                                    }
                                }
    
                                &.page_caption_item_three {
                                    bottom: 0;
                                    right: 0%;
                                    transform: translate(50%, 50%);
    
                                    .page_caption_item_text {
                                        color: $main_color_orange;
                                    }
                                }
                            }
                        }
    
                        .page_caption_left_text {
                            margin: 40px auto 0;
    
                            .page_caption_item_text_color {
                                width: 20px;
                                height: 20px;
                                margin: 0 15px 0 0;
                                border-radius: 50%;
                            }
    
                            .page_caption_left_text_item {
                                display: flex;
                                align-items: center;
                                margin: 10px auto;
    
                                &.page_caption_left_text_one {
                                    .page_caption_item_text_color {
                                        background-color: $main_color_blue;
                                    }
                                }
    
                                &.page_caption_left_text_two {
                                    .page_caption_item_text_color {
                                        background-color: $main_color_green;
                                    }
                                }
    
                                &.page_caption_left_text_three {
                                    .page_caption_item_text_color {
                                        background-color: $main_color_orange;
                                    }
                                }
                            }
                        }
                    }
    
                    .page_caption_img_right {
                        position: relative;
                        display: flex;
                        justify-content: flex-end;
                        width: 48%;
    
                        .page_caption_item_img {
                            width: 80%;
                        }
    
                        .page_caption_item_text {
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: translate(0, calc(-100% - 20px));
                            background-color: $white;
                            border: 1px solid $main_color;
                            border-radius: 10px;
                            padding: 10px 20px;
    
                            &::before {
                                content: "";
                                position: absolute;
                                border-width: 0px 10px 10px 10px;
                                top: 100%;
                                left: 50%;
                                transform: translate(-100%, 0%);
                                border-left: 10px solid transparent;
                                border-bottom: 10px solid transparent;
                                border-top: 10px solid $main_color;
                                border-right: 10px solid transparent;
                            }
                        }
                    }
                }
            }
    
            // page1
    
            // page2
            .pagination_tittle {
                position: relative;
                margin: 0 0 20px;
    
                h4 {
                    color: $main_color;
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 90px;
                    height: 30px;
                    transform: translate(0, 0%);
                    background-image: radial-gradient($main_color_80 30%, transparent 30%);
                    background-position: 0 0, 10px 0px;
                    background-size: 15px 15px;
                }
            }
    
            .caption_table {
                .table {
                    border: 1.5px solid $main_color;
    
                    thead {
                        tr {
                            th {
                                color: $white;
                                background-color: $main_color;
                                padding: 12px 10px;
                                text-align: center;
                            }
                        }
                    }
    
                    tbody {
                        tr {
                            td {
                                width: 20%;
                                border-bottom: 1.5px solid $main_color;
                                border-right: 1.5px solid $main_color;
                                padding: 8px 15px;
                                vertical-align: middle;
    
                                &.group_projects {
                                    background-color: $table_color_one;
                                }
    
                                &.group_one {
                                    background-color: $table_color_two_60;
                                }
    
                                &.group_two {
                                    background-color: $table_color_three_60;
                                }
    
                                &.group_three {
                                    background-color: $table_color_four_60;
                                }
    
                                &.group_four {
                                    background-color: $table_color_five_60;
                                }
                            }
                        }
                    }
                }
    
                &.caption_table_two {
                    tr {
    
                        
                    }
                }
            }
    
            // page2
    
            // page3
            .chart_information {
                display: flex;
                justify-content: center;
                margin: 0 auto 20px;
    
                .chart_information_text {
                    margin: 0 20px;
                }
    
                .chart_information_value {
                    color: $main_color;
                    border-bottom: 1px solid $main_color;
                    font-weight: bold;
                }
    
                &.chart_area_information{
                    flex-direction: column;
                    margin: 40px auto;
                    
                    .chart_information_text {
                        margin: 5px 0;
                    }
                }
            }
    
            .caption_table {
                &.chart_table {
                    .table {
                        thead {
                            tr {
                                th {
                                    color: $main_color_grey;
                                    border-bottom: 1.5px solid $main_color;
                                    border-right: 1.5px solid $main_color;
    
                                    &.group_projects {
                                        background-color: $table_color_one;
                                    }
        
                                    &.group_one {
                                        background-color: $table_color_two_60;
                                    }
        
                                    &.group_two {
                                        background-color: $table_color_three_60;
                                    }
        
                                    &.group_three {
                                        background-color: $table_color_four_60;
                                    }
        
                                    &.group_four {
                                        background-color: $table_color_five_60;
                                    }
                                }
                            }
                        }
    
                        tbody {
                            tr {
                                td {
                                    text-align: center;
                                    background-color: $white;
                                    border-bottom: 1.5px solid $main_color;
                                    border-right: 1.5px solid $main_color;
                                    width: calc(100% / 6);
    
                                        &.highest {
                                            background-color: $main_color;
                                            border-bottom: 1.5px solid $white;
                                            border-right: 1.5px solid $white;
                                        }
    
                                }
    
                                &.percentage{
                                    td{
                                        &.highest {
                                            border-bottom: 1.5px solid $main_color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
    
            .chart_area {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                margin: 20px auto;
    
                .chart_area_tittle{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 20px auto;
                    h5{
                        color: $main_color_grey;
                    }
                }
    
                .chart_canvas {
                    width: 77%;
                    margin: 0 3% 0 0;
                    display: flex;
                    justify-content: center;
                    canvas{
                        max-width: 600px;
                        max-height: 600px;
                    }
                }
    
                .chart_category_area {
                    width: 20%;
    
                    .chart_category {
                        display: flex;
                        align-items: center;
                        justify-self: center;
                        margin: 10px 0;
                        padding: 8px;
    
                        .chart_category_color {
                            width: 20px;
                            height: 20px;
                            margin: 0 5px 0 0;
                            border-radius: 50%;
                            border: 1px solid $white;
                        }
    
                        &.highest{
                            background-color: $main_color;
                            border-radius: 10px;
                        }
    
                        &.chart_category_one {
                            .chart_category_color {
                                background-color: $table_color_two;
                            }
                        }
    
                        &.chart_category_two {
                            .chart_category_color {
                                background-color: $table_color_three;
                            }
                        }
    
                        &.chart_category_three {
                            .chart_category_color {
                                background-color: $table_color_four;
                            }
                        }
    
                        &.chart_category_four {
                            .chart_category_color {
                                background-color: $table_color_five;
                            }
                        }
                    }
                }
    
                
            }
            // page3
    
            // page4
            .caption_table {
                &.chart_table_list {
    
                    .list_caption{
                        margin: 0 auto 20px;
                    }
                    .table {
                        thead {
                            tr {
                                th {
                                    color: $main_color_grey;
                                    border-bottom: 1.5px solid $main_color;
                                    border-right: 1.5px solid $main_color;
                                    background-color: $table_color_one;
    
                                    .chart_information{
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
    
                        tbody {
                            tr {
                                td{
                                    text-align: center;
                                    border-right: 1.5px solid $main_color;
                                    border-bottom: 1.5px solid $main_color;
                                    
                                    &.table_id,
                                    &.table_name,
                                    &.table_degree{
                                        width: 70px;
                                    }
    
                                    &.table_department,
                                    &.table_grade{
                                        width: 120px;
                                    }
    
                                    &.group_item{
                                        width: calc((100% - 450px) / 4);
                                        background-color: $white;
    
                                        &.highest{
                                            font-weight: bold;
    
                                            &.group_one{
                                                background-color: $table_color_two_60;
                                            }
    
                                            &.group_two{
                                                background-color: $table_color_three_60;
                                            }
    
                                            &.group_three{
                                                background-color: $table_color_four_60;
                                            }
    
                                            &.group_four{
                                                background-color: $table_color_five_60;
                                            }
                                        }
    
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // page4
        }
    
        .page_footer {
            position: absolute;
            bottom: 0;
            width: 100%;
    
            .pagination {
                position: absolute;
                display: flex;
                justify-content: center;
                width: 90%;
                margin: 0 auto;
                bottom: 40px;
                left: 50%;
                transform: translate(-50%, 0);
    
                .copyright_text {
                    padding: 0 50px;
                    background-color: $body_bg;
    
                    p {
                        font-size: 16px;
                        color: $main_color_grey;
                    }
                }
    
                .page_number {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    z-index: 1;
    
    
                    p {
                        color: $main_color_grey;
                        font-size: 16px;
                    }
    
                    &::after {
                        content: "";
                        position: absolute;
                        width: calc(100% + 40px);
                        height: calc(100% + 10px);
                        border: 1px solid $main_color_grey;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50px;
                        z-index: -1;
                        background-color: $body_bg;
                    }
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    width: calc(100% - 100px);
                    height: 1px;
                    background-color: $main_color_grey;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    z-index: -1;
                }
            }
    
            .page_decorate {
                width: 100%;
                height: 12px;
                background: linear-gradient(45deg, $main_color_green 33%, $main_color_blue 33%, $main_color_blue 66%, $main_color 66%);
                margin: 0 auto;
            }
        }
    
    }
}