.page {
    /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
    /* page-break-after: always;  碰到此元素會直接換頁 */
    page-break-inside: avoid;
    position: relative;
    max-width: 1024px;
    height: 1448px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: $body_bg;

    .page_header {
        .page_decorate {
            width: 100%;
            height: 12px;
            background: linear-gradient(135deg, $main_color_green 33%, $main_color_blue 33%, $main_color_blue 66%, $main_color 66%);
            margin: 0 auto 15px;
        }
    }

    .page_content {
        padding: 0 5%;

        .chart_category_icon {
            display: inline-block;

            i {
                margin: 0 3px 0 0;
                font-size: 18px;
            }

            &.chart_category_one {
                i {
                    color: darken($group_one, 15%);
                }
            }

            &.chart_category_two {
                i {
                    color: darken($group_two, 15%);
                }
            }

            &.chart_category_three {
                i {
                    color: darken($group_three, 15%);
                }
            }

            &.chart_category_four {
                i {
                    color: darken($group_four, 15%);
                }
            }
        }

        .bold {
            font-weight: bold;
        }

        // page1
        .report_title_area {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            margin: 0 auto 30px;

            .logo {
                width: 55px;
            }

            .report-title {
                position: absolute;
                width: 66%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                margin: 0 0 0 40px;
                display: flex;
                justify-content: center;

                h1 {
                    color: $white;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: calc(100% + 40px);
                    height: calc(100% + 15px);
                    border: 2px solid $main_color;
                    background-color: $main_color;
                    border-radius: 50px;
                    z-index: -1;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(calc(-50% + 8px), calc(-50% + 8px));
                    width: calc(100% + 40px);
                    height: calc(100% + 15px);
                    border: 2px solid $main_color;
                    border-radius: 50px;
                    z-index: -2;
                }
            }
        }

        .page_caption {
            width: 80%;
            margin: 0 auto;

            .page_caption_text {
                p {
                    color: $main_color_grey;
                    line-height: 2.5;
                    text-align: justify;

                    span {
                        font-size: 11px;

                        &.bold {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        // page1

        // page2
        .pagination_tittle {
            position: relative;
            margin: 0 0 15px;

            h4 {
                color: $main_color;
            }
        }

        .caption_table {
            overflow-x: scroll;
            margin: 0 auto 0px;

            &::-webkit-scrollbar {
                background: transparent;
                height: 8px;
                width: 12px;
            }

            &::-webkit-scrollbar-thumb {
                border: none;
                box-shadow: none;
                background: $main_color;
                min-height: 40px;
            }

            .table {
                min-width: 845px;
                border: 1.5px solid $main_color;

                .chart_category_icon {
                    i {
                        margin: 0;
                    }
                }

                thead {
                    tr {
                        th {
                            color: $white;
                            background-color: $main_color;
                            padding: 5px 10px;
                            text-align: center;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            width: 20%;
                            border-bottom: 1.5px solid $main_color;
                            border-right: 1.5px solid $main_color;
                            padding: 5px 15px;
                            color: $main_color_grey;
                            text-align: justify;

                            &:nth-child(1) {
                                text-align: center;
                                vertical-align: middle;
                            }

                            &.group_projects {
                                background-color: $group_projects;
                                width: 24%;
                                padding: 5px;

                                .group_projects_text {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;

                                    span{
                                        letter-spacing: 1px;
                                    }
                                }
                            }

                            &.group_one,
                            &.group_two,
                            &.group_three,
                            &.group_four {
                                width: 19%;
                            }

                            &.group_one {
                                background-color: $group_one_light;
                            }

                            &.group_two {
                                background-color: $group_two_light;
                            }

                            &.group_three {
                                background-color: $group_three_light;
                            }

                            &.group_four {
                                background-color: $group_four_light;
                            }

                            &.group_icon_item{
                                text-align: center;
                            }

                            .group_projects_img {
                                width: 70px;
                                margin: 0 auto 10px
                            }
                        }

                        

                        &:nth-child(8) {
                            td {
                                border-bottom: 0px;
                                padding: 5px 15px 0;
                            }
                        }
                    }
                }
            }

            &.caption_table_two {
                .table {
                    .group_icon_item{
                        .chart_category_icon {

                            &.big_icon{
                                vertical-align: sub;

                                i {
                                    font-size: 19px;
                                }
                            }
                        }
                    }
                }
            }
        }

        // page2

        // page3
        .chart_information {
            display: flex;
            justify-content: flex-start;
            margin: 0 auto 20px;
            flex-wrap: wrap;

            .chart_information_text {
                margin: 10px 4px;
            }

            .chart_information_value {
                color: $main_color;
                border-bottom: 1px solid $main_color;
                font-weight: bold;
            }

            &.chart_area_information {
                flex-direction: column;
                margin: 40px auto;

                .chart_information_text {
                    margin: 5px 0;

                    &.chart_information_list {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        .caption_table {
            &.chart_table {
                .table {
                    thead {
                        tr {
                            th {
                                color: $main_color_grey;
                                border-bottom: 1.5px solid $main_color;
                                border-right: 1.5px solid $main_color;
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                text-align: center;
                                border-bottom: 1.5px solid $main_color;
                                border-right: 1.5px solid $main_color;
                                width: calc(100% / 6);

                                &.highest {
                                    font-weight: bold;
                                    background-color: $main_color_light;
                                }

                            }
                        }
                    }
                }
            }
        }

        .chart_area {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 20px auto;

            .chart_area_tittle {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 20px auto;

                h5 {
                    color: $main_color_grey;
                }
            }

            .chart_canvas {
                width: 100%;
                margin: 0 0 20px 0;
                display: flex;
                justify-content: center;

                canvas {
                    width: 100% !important;
                    height: auto !important;
                    max-width: 550px;
                    max-height: 550px;
                }
            }

            .chart_category_area {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .chart_category {
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                    padding: 5px;
                }
            }


        }

        // page3

        // page4
        .chart_information {
            &.chart_area_information {
                &.interpretation_examples {
                    padding: 5px 10px;
                    background-color: $main_color_light;
                    border-radius: 10px;
                }
            }
        }

        .caption_table {
            &.chart_table_list {

                .list_caption {
                    margin: 0 auto 20px;
                }

                .table {
                    min-width: 972px;

                    thead {
                        tr {
                            th {
                                color: $main_color_grey;
                                border-bottom: 1.5px solid $main_color;
                                border-right: 1.5px solid $main_color;
                                background-color: $group_projects;

                                .chart_information {
                                    margin: 0 auto;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            &:nth-child(1) {
                                    text-align: center;
                                    vertical-align: middle;
                                td {

                                    &.table_id,
                                    &.table_name {
                                        text-align: center;
                                    }
                                }
                            }

                            td {
                                text-align: center;
                                border-right: 1.5px solid $main_color;
                                border-bottom: 1.5px solid $main_color;
                                padding: 6px 5px;

                                &.table_id,
                                &.table_name {
                                    word-break: break-all;
                                }

                                &.table_id {
                                    width: 90px;
                                    vertical-align: top;
                                }

                                &.table_name {
                                    width: calc(100% - 835px);
                                }

                                &.table_department {
                                    width: 165px;
                                }

                                &.table_degree,
                                &.table_grade {
                                    width: 80px;
                                }

                                &.group_item {
                                    width: 105px;
                                    background-color: $white;

                                    &.highest {
                                        font-weight: bold;

                                        &.group_one {
                                            background-color: $group_one_light;
                                        }

                                        &.group_two {
                                            background-color: $group_two_light;
                                        }

                                        &.group_three {
                                            background-color: $group_three_light;
                                        }

                                        &.group_four {
                                            background-color: $group_four_light;
                                        }
                                    }

                                }
                            }
                            
                        }
                    }
                }
            }
        }

        // page4
    }

    .page_footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        .pagination {
            position: absolute;
            display: flex;
            justify-content: center;
            width: 90%;
            margin: 0 auto;
            bottom: 30px;
            left: 50%;
            transform: translate(-50%, 0);

            .footer_logo {
                width: 120px;
                background-color: $body_bg;
                padding: 10px;

                .moe_logo,
                .ntnu_logo {
                    display: inline-block;
                    width: 45%;
                    margin: 0 calc(2.5% - 2px);
                }
            }

            .page_number {
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translate(0, -50%);
                z-index: 1;

                .page_number_text{
                    font-size: 13px;
                    color: $main_color_grey;
                    border: 1px solid $main_color_grey;
                    border-radius: 50px;
                    background-color: $body_bg;
                    padding: 5px 10px;
                }
            }

            &::after {
                content: "";
                position: absolute;
                width: calc(100% - 100px);
                height: 1px;
                background-color: $main_color_grey;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                z-index: -1;
            }
        }

        .page_decorate {
            width: 100%;
            height: 12px;
            background: linear-gradient(45deg, $main_color_green 33%, $main_color_blue 33%, $main_color_blue 66%, $main_color 66%);
            margin: 0 auto;
        }
    }

}

@media screen and (min-width: 499px) {
    .page {

        .page_content {

            // page1
            .report_title_area {

                .report-title {
                    width: 60%;

                    &::before {
                        width: calc(100% + 50px);
                    }

                    &::after {
                        width: calc(100% + 50px);
                    }
                }
            }

            // page1

            // page3
            .chart_area {
                .chart_canvas {
                    width: 80%;
                    margin: 0 0 40px 0;
                }

                .chart_category_area {
                    justify-content: center;
                }
            }

            // page3
        }

    }
}

@media screen and (min-width: 576px) {
    .page {

        .page_content {

            // page2
            .pagination_tittle {

                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 90px;
                    height: 30px;
                    transform: translate(0, 0%);
                    background-image: radial-gradient($main_color_light 30%, transparent 30%);
                    background-position: 0 0, 10px 0px;
                    background-size: 15px 15px;
                }
            }

            // page2
        }

    }
}

@media screen and (min-width: 768px) {
    .page {

        .page_content {

            // page1

            .page_caption {

                .page_caption_text {
                    p {
                        span {
                            font-size: 12px;

                            &.bold {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }

            // page1

            // page3
            .chart_area {

                .chart_area_tittle {
                    margin: 30px auto;
                }

                .chart_canvas {
                    width: 72%;
                    margin: 0 3% 0 0;
                }

                .chart_category_area {
                    width: 25%;
                    flex-direction: column;

                    .chart_category {
                        width: 100%;
                    }
                }


            }

            // page3
        }

        .page_footer {

            .pagination {

                .page_number {

                    .page_number_text{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .page {
        .page_content {
            padding: 0 2.5%;

            // page1
            .report_title_area {
                margin: 0 auto 40px;
                padding: 0 0 30px;

                .logo {
                    width: 70px;
                }

                .report-title {

                    &::before {
                        width: calc(100% + 180px);
                    }

                    &::after {
                        width: calc(100% + 180px);
                    }
                }
            }

            .page_caption {

                .page_caption_text {
                    p {
                        span {
                            font-size: 14px;

                            &.bold {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }

            // page1

            // page2

            .caption_table {
                margin: 0 auto;

                &.caption_table_two {
                    .table {
                        .group_icon_item{
                            .chart_category_icon {
                                &.big_icon{
                                    i {
                                        font-size: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // page2

            // page3

            .chart_information {
                justify-content: center;

                .chart_information_text {
                    margin: 0 20px;
                }
            }

            .chart_area {

                .chart_area_tittle {
                    margin: 20px auto;
                }


                .chart_category_area {
                    width: 25%;
                }


            }

            // page3

            // page4
            .caption_table {
                &.chart_table_list {

                    .table {
                        thead {
                            tr {
                                th {
                                    .chart_information {
                                        justify-content: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // page4
        }

        .page_footer {

            .pagination {

                .page_number {

                    .page_number_text{
                        font-size: 17px;
                        color: $main_color_grey;
                        border: 1px solid $main_color_grey;
                        border-radius: 50px;
                        background-color: $body_bg;
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}

@page {
    /*size: portrait;  直向 */
    /*size: landscape;  橫向 */
    /*size: A4;  紙張大小 */
    size: A4 portrait;
    /* 混合使用 */
    min-height: 100vh;
    margin: 0;
    /* 邊界與內容的距離 */
}

@media print {
    .page {
        /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
        /* page-break-after: always;  碰到此元素會直接換頁 */
        page-break-inside: avoid;
        position: relative;
        max-width: 1024px;
        height: 1448px;
        width: 100%;
        /* height: 1448px; */
        margin: 0 auto;
        overflow: hidden;
        background-color: $body_bg;

        .page_header {
            .page_decorate {
                width: 100%;
                height: 12px;
                background: linear-gradient(135deg, $main_color_green 33%, $main_color_blue 33%, $main_color_blue 66%, $main_color 66%);
                margin: 0 auto 15px;
            }
        }

        .page_content {
            padding: 0 2.5%;

            .chart_category_icon {
                display: inline-block;

                i {
                    margin: 0 3px 0 0;
                    font-size: 18px;
                }

                &.chart_category_one {
                    i {
                        color: darken($group_one, 15%);
                    }
                }

                &.chart_category_two {
                    i {
                        color: darken($group_two, 15%);
                    }
                }

                &.chart_category_three {
                    i {
                        color: darken($group_three, 15%);
                    }
                }

                &.chart_category_four {
                    i {
                        color: darken($group_four, 15%);
                    }
                }
            }

            .bold {
                font-weight: bold;
            }

            // page1
            .report_title_area {
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                margin: 0 auto 40px;
                padding: 0 0 30px;

                .logo {
                    width: 70px;
                }

                .report-title {
                    position: absolute;
                    width: 60%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    margin: 0 0 0 40px;
                    display: flex;
                    justify-content: center;

                    h1 {
                        color: $white;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: calc(100% + 180px);
                        height: calc(100% + 15px);
                        border: 2px solid $main_color;
                        background-color: $main_color;
                        border-radius: 50px;
                        z-index: -1;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(calc(-50% + 15px), calc(-50% + 10px));
                        width: calc(100% + 180px);
                        height: calc(100% + 15px);
                        border: 2px solid $main_color;
                        border-radius: 50px;
                        z-index: -2;
                    }
                }
            }

            .page_caption {
                width: 80%;
                margin: 0 auto;

                .page_caption_text {
                    p {
                        color: $main_color_grey;
                        line-height: 2.5;
                        text-align: justify;

                        span {
                            font-size: 14px;

                            &.bold {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }

            // page1

            // page2
            .pagination_tittle {
                position: relative;
                margin: 0 0 15px;

                h4 {
                    color: $main_color;
                }

                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 90px;
                    height: 30px;
                    transform: translate(0, 0%);
                    background-image: radial-gradient($main_color_light 30%, transparent 30%);
                    background-position: 0 0, 10px 0px;
                    background-size: 15px 15px;
                }
            }

            .caption_table {
                .table {
                    border: 1.5px solid $main_color;

                    .chart_category_icon {
                        i {
                            margin: 0;
                        }
                    }

                    thead {
                        tr {
                            th {
                                color: $white;
                                background-color: $main_color;
                                padding: 5px 10px;
                                text-align: center;
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                width: 20%;
                                border-bottom: 1.5px solid $main_color;
                                border-right: 1.5px solid $main_color;
                                padding: 5px 15px;
                                color: $main_color_grey;
                                text-align: justify;

                                &:nth-child(1) {
                                    text-align: center;
                                    vertical-align: middle;
                                }
                                
                                &.group_projects {
                                    background-color: $group_projects;
                                    width: 24%;
                                    padding: 5px;

                                    .group_projects_text {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;

                                        span{
                                            letter-spacing: 1px;
                                        }
                                    }
                                }

                                &.group_one,
                                &.group_two,
                                &.group_three,
                                &.group_four {
                                    width: 19%;
                                }

                                &.group_one {
                                    background-color: $group_one_light;
                                }

                                &.group_two {
                                    background-color: $group_two_light;
                                }

                                &.group_three {
                                    background-color: $group_three_light;
                                }

                                &.group_four {
                                    background-color: $group_four_light;
                                }

                                &.group_icon_item{
                                text-align: center;
                            }

                                .group_projects_img {
                                    width: 80px;
                                    margin: 0 auto 10px;
                                }
                            }

                            &:nth-child(8) {
                                td {
                                    border-bottom: 0px;
                                    padding: 5px 15px 0;
                                }
                            }
                        }
                    }
                }

                &.caption_table_two {
                    .table {
                        .group_icon_item{
                            .chart_category_icon {
    
                                &.big_icon{
                                    vertical-align: sub;

                                    i {
                                        font-size: 30px;
                                    }
                                }
                            }
                        }
                        

                        tbody {
                            tr {
                                td {

                                    &.group_projects {
                                        width: 18%;
                                    }

                                    &.group_one,
                                    &.group_two,
                                    &.group_three,
                                    &.group_four {
                                        width: 20.5%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // page2

            // page3
            .chart_information {
                display: flex;
                justify-content: center;
                margin: 0 auto 20px;
                flex-wrap: wrap;

                .chart_information_text {
                    margin: 0 20px;
                }

                .chart_information_value {
                    color: $main_color;
                    border-bottom: 1px solid $main_color;
                    font-weight: bold;
                }

                &.chart_area_information {
                    flex-direction: column;
                    margin: 40px auto;

                    .chart_information_text {
                        margin: 5px 0;
                    }
                }
            }

            .caption_table {
                &.chart_table {
                    .table {
                        thead {
                            tr {
                                th {
                                    color: $main_color_grey;
                                    border-bottom: 1.5px solid $main_color;
                                    border-right: 1.5px solid $main_color;
                                }
                            }
                        }

                        tbody {
                            tr {
                                td {
                                    text-align: center;
                                    border-bottom: 1.5px solid $main_color;
                                    border-right: 1.5px solid $main_color;
                                    width: calc(100% / 6);

                                    &.highest {
                                        background-color: $main_color_light;
                                    }

                                }
                            }
                        }
                    }
                }
            }

            .chart_area {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                margin: 20px auto;

                .chart_area_tittle {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 20px auto;

                    h5 {
                        color: $main_color_grey;
                    }
                }

                .chart_canvas {
                    width: 72%;
                    margin: 0 3% 0 0;
                    display: flex;
                    justify-content: center;

                    canvas {
                        width: 100% !important;
                        height: auto !important;
                        max-width: 550px;
                        max-height: 550px;
                    }
                }

                .chart_category_area {
                    width: 25%;
                    flex-direction: column;

                    .chart_category {
                        display: flex;
                        align-items: center;
                        margin: 10px 0;
                        padding: 5px;
                        width: 100%;
                    }
                }


            }

            // page3

            // page4
            .chart_information {
                &.chart_area_information {
                    &.interpretation_examples {
                        padding: 5px 10px;
                        background-color: $main_color_light;
                        border-radius: 10px;
                    }
                }
            }

            .caption_table {
                &.chart_table_list {

                    .list_caption {
                        margin: 0 auto 20px;
                    }

                    .table {
                        min-width: 972px;

                        thead {
                            tr {
                                th {
                                    color: $main_color_grey;
                                    border-bottom: 1.5px solid $main_color;
                                    border-right: 1.5px solid $main_color;
                                    background-color: $group_projects;

                                    .chart_information {
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }

                        tbody {
                            tr {
                                &:nth-child(1) {
                                    text-align: center;
                                    vertical-align: middle;
                                    td {

                                        &.table_id,
                                        &.table_name {
                                            text-align: center;
                                        }
                                    }
                                }

                                td {
                                    text-align: center;
                                    border-right: 1.5px solid $main_color;
                                    border-bottom: 1.5px solid $main_color;
                                    padding: 6px 5px;

                                    &.table_id,
                                    &.table_name {
                                        text-align: left;
                                        word-break: break-all;
                                    }

                                    &.table_id {
                                        width: 90px;
                                        vertical-align: top;
                                    }

                                    &.table_name {
                                        width: calc(100% - 835px);
                                    }

                                    &.table_department {
                                        width: 165px;
                                    }
    
                                    &.table_degree,
                                    &.table_grade {
                                        width: 80px;
                                    }

                                    &.group_item {
                                        width: 105px;
                                        background-color: $white;

                                        &.highest {
                                            font-weight: bold;

                                            &.group_one {
                                                background-color: $group_one_light;
                                            }

                                            &.group_two {
                                                background-color: $group_two_light;
                                            }

                                            &.group_three {
                                                background-color: $group_three_light;
                                            }

                                            &.group_four {
                                                background-color: $group_four_light;
                                            }
                                        }


                                    }
                                }
                            }
                        }
                    }
                }
            }

            // page4
        }

        .page_footer {
            position: absolute;
            bottom: 0;
            width: 100%;

            .pagination {
                position: absolute;
                display: flex;
                justify-content: center;
                width: 90%;
                margin: 0 auto;
                bottom: 30px;
                left: 50%;
                transform: translate(-50%, 0);

                .footer_logo {
                    width: 120px;
                    background-color: $body_bg;
                    padding: 10px;

                    .moe_logo,
                    .ntnu_logo {
                        display: inline-block;
                        width: 45%;
                        margin: 0 calc(2.5% - 2px);
                    }
                }

                .page_number {
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translate(0, -50%);
                    z-index: 1;

                    .page_number_text{
                        font-size: 17px;
                        color: $main_color_grey;
                        border: 1px solid $main_color_grey;
                        border-radius: 50px;
                        background-color: $body_bg;
                        padding: 5px 10px;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: calc(100% - 100px);
                    height: 1px;
                    background-color: $main_color_grey;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    z-index: -1;
                }
            }

            .page_decorate {
                width: 100%;
                height: 12px;
                background: linear-gradient(45deg, $main_color_green 33%, $main_color_blue 33%, $main_color_blue 66%, $main_color 66%);
                margin: 0 auto;
            }
        }

    }
}