main {
    .test_area {
        &.literacy_area {
            .literacy_item_area {
                .literacy_tittle {
                    display: flex;
                    justify-content: center;
                    color: darken($main_color, 15%);
                    margin: 0 auto 50px;
                }

                .information_area {
                    .input_area {
                        display: flex;
                        align-items: flex-start;

                        .input-group-label {
                            padding: 10px 15px 10px 0;
                            color: $main_color_grey;
                            width: 100%;
                            border: 1px solid transparent;
                        }

                        .input_date_icon {
                            position: absolute;
                            right: 15px;
                            top: 10px;
                            z-index: 1;
                            pointer-events: none;
                            user-select: none;
                            color: $main_color_grey;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    main {
        .test_area {
            &.literacy_area {
                .literacy_item_area {
                    .information_area {
                        .input_area {
                            flex-direction: row;

                            .input-group-label {
                                width: 20%;
                            }

                            .form-control {
                                width: 80%;
                            }

                            &.show_hide_password{
                                .input-group-text{
                                    &.icon_eye{
                                        right: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 992px) {
    main {
        .test_area {
            &.literacy_area {
                .literacy_item_area {
                    .information_area {
                        .input_area {
                            .input-group-label {
                                padding: 10px 30px 10px 0;
                                width: calc(20% - 30px);
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}