$body_bg: #f4e3ce;
/*main*/
$main_color:             #e7591a;
$main_color_grey:	  	 #20221f;
$main_color_blue:	  	 #1ebbe9;
$main_color_green:	  	 #a3c313;
$main_color_orange:	  	 #e0941d;
$main_color_purple:	  	 #2420bb;

/*transparency*/
$main_color_60:#e7591a60;
$main_color_40:#e7591a40;
$main_color_30:#e7591a30;
$main_color_25:#e7591a25;

/*other*/
$white:#fff;
$black: #000;
$grey: grey;
$disabled: #ADADAD;

