$header_bg: #EFE8E0;
$body_bg: #f8f5c8;

/*main*/
$main_color:             #5c8a39;
$main_color_brown:	  	 #58391C;
$main_color_grey:	  	 #20221f;

/*transparency*/
$main_color_40:#5c8a3940;
$main_color_30:#5c8a3930;
$main_color_25:#5c8a3925;

/*other*/
$white:#fff;
$black: #000;
$grey: grey;
$disabled: #ADADAD;
$orange:#ff7723;
$yellow: #ffbe00;
$light_yellow: #fff2cc;

/*green*/
$bright_green:#7cb027;
$light_green:#ddecc5;
$frog_green:#8FC31F;
$green_one: #6b8430;
$green_two: #4F772D;
$green_three: #31572C;
$green_four: #132A13;

/*grade*/
$first_grade: #FFD000;
$second_grade: #FFB600;
$third_grade: #FF9C00;
$fourth_grade: #FF7600;
$fifth_grade: #FF6400;
$sixth_grade: #FF5100;
