$body_bg: #fef3f0;
/*main*/
$main_color:             #e7591a;
$main_color_light:#ffaf8b;
$main_color_grey:	  	 #20221f;
$main_color_blue:	  	 #1ebbe9;
$main_color_green:	  	 #a3c313;
$main_color_orange:	  	 #e0941d;
$main_color_purple:	  	 #2420bb;

/*table*/
$group_projects:#c7c8ff;
$group_one:#83caff;
$group_one_light:#cfeaff;
$group_two:#ffcf3a;
$group_two_light:#ffecb1;
$group_three:#fe9795;
$group_three_light:#efc2c1;
$group_four:#5dc994;
$group_four_light:#bcf5d9;

/*other*/
$white:#fff;
$black: #000;
$grey: grey;
$disabled: #ADADAD;

