%boxShadow {
    box-shadow: 5px 5px 10px 3px $main_color_25;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 35px;
    line-height: 1.7;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    line-height: 1.7;
    font-weight: bold;
}

h4 {
    font-size: 22px;
    line-height: 1.5;
    font-weight: bold;
}

h5 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
}

p,
i {
    font-size: 16px;
    line-height: 1.7;
}

span,
th,
td,
.form-control {
    font-size: 16px;
    text-decoration: none;
    line-height: 1.7;
}

a {
    font-size: 16px;
    text-decoration: none;
    line-height: 1.7;
}

ruby {
    letter-spacing: 1.8px;
    line-height: 3;
}

rt {
    transform: translateY(-35%);
}

input,
label {
    font-size: 16px;
    line-height: 1.7;
}

input[type=file]::file-selector-button {
    display: none;
}

img {
    width: 100%;
}

button,
.btn {
    font-size: 16px;
    line-height: 1.7;
    padding: 0;
    border-width: 0px;
    border-style: none;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

button:disabled {
    color: $black !important;
    background-color: $grey !important;
    border: 1px solid $grey !important;
    opacity: 0.5;
    cursor: auto !important;

    a {
        color: $white !important;
        cursor: auto;
    }
}

*,
body {
    letter-spacing: 1.5px;
    box-sizing: border-box;
}

body {
    background-color: $body_bg;
}

.cursor {
    cursor: pointer;
}

::selection {
    background: darken($main_color, 15%);
    color: $white;
}

.table{
    th,
    td{
        border-top: 0px;
        border-bottom: 0px;
    }

    thead{
        th{
            border-bottom: 0px;
        }
    }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 38px;
    }

    h3 {
        font-size: 35px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 24px;
    }

    p,
    i {
        font-size: 20px;
    }

    span,
    th,
    td,
    .form-control {
        font-size: 20px;
    }

    a {
        font-size: 20px;
    }

    input,
    label {
        font-size: 20px;
    }

    button,
    .btn {
        font-size: 20px;
    }
}