// $body_bg: #fef3f0;
$body_bg:                    #fef9f3;

/*main*/
$main_color:                 #1b3a6b;
$main_color_light:           #dae5f4;

/*table*/
$group_one:                  #22acea;
$group_two:                  #f5c705;
$group_three:                #62b131;
$group_four:                 #eb6b8c;
$table_border:               #c1d2ed;
$table_border_color_blue:    #2b7dc0;
$table_border_color_orange:  #e07b39;
$table_border_color_green:   #1e6b3c;
$up_color:                   #1e6b3c;
$down_color:                 #9b2335;
$test_one_tittle:            #e78829;
$test_one_project:           #f8dbbe;
$test_two_tittle:            #9fa23b;
$test_two_project:           #e2e3c3;
$test_three_tittle:          #00a468;
$test_three_project:         #b2e3d1;
$test_four_tittle:           #3c5ca4;
$test_four_project:          #c4cee3;
$test_five_project:          #f6d7c3;
$test_six_project:           #bbd2c4;
$page_num_color:             #dbcdf3;

/*other*/
$white:                      #fff;
$black:                      #000;
$grey:                       #4A5568;
$red:                        #c41010