// $body_bg: #fef3f0;
$body_bg:                    #fef9f3;

/*main*/
$main_color:                 #1b3a6b;
$main_color_light:           #dae5f4;
$main_color_grey:	      	 #20221f;
$main_color_blue:	      	 #1ebbe9;
$main_color_green:	      	 #a3c313;
$main_color_orange:	      	 #e0941d;
$main_color_purple:	      	 #2420bb;

/*table*/
$group_one:                  #22acea;
$group_two:                  #f5c705;
$group_three:                #62b131;
$group_four:                 #eb6b8c;
$table_border:               #c1d2ed;
$table_border_color_blue:    #2b7dc0;
$table_border_color_orange:  #e07b39;
$table_border_color_green:   #1e6b3c;
$up_color:                   #1e6b3c;
$down_color:                 #9b2335;

/*other*/
$white:                      #fff;
$black:                      #000;
$grey:                       #4A5568;
$red:                        #c41010